.editAndDelete .fa-trash {
  padding-left: 1em;
}

.editAndDelete {
  display: flex;
  justify-content: center;
}

.dmbookIcon:hover {
  cursor: pointer;
}

.dmbookIcon i:hover {
  color: blue;
}

.dmbookIcon:active {
  box-shadow: 0.5em rgba(100, 100, 100, 0.5);
}
